* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #5F9EA0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 50px;
  text-align: center;
  background-color: #FAEBD7;
}

.container i {
  font-size: 50px;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
}

.container i.prev {
  top: 50%;
  left: 100px;
}

.container i.next {
  top: 50%;
  right: 100px;
}


.container ul li {
  list-style: none;
  padding: 10px 0;
  font-size: 20px;
}

.container h1 {
  margin-bottom: 40px;
  display: none;
}

.festivita {
  color: red;
}

h1.active {
  display: block;
}
